<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <title>an-farmview temp</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>

<body>
    <h1 id="front">🐣</h1>
    <h1 id="rear"></h1>
    <div id="temps-graph"><canvas id="temps-chart"></canvas></div>
    <h2 id="ubl"></h1>
    <div><canvas id="ubl-chart"></canvas></div>
    <h2 id="timestamp"></h1>
</body>


<script>

    const ctx = document.getElementById('temps-chart');
    const myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: [],
          datasets: [
            {
                fill: '1',
                label: 'rear',
                data: [],
                borderWidth: 1,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 159, 64, 1)',
            },
            {
                fill: 'origin',
                label: 'front',
                data: [],
                borderWidth: 1,
                backgroundColor: 'rgba(20, 20, 132, 0.5)',
                borderColor: 'rgba(40, 40, 170, 1)',
            },
        ]
      },
      options: {
        scales: {
            x: {
                type: 'time',
                time: {
                    displayFormats: {
                        "minute": "d MMM HH:mm"
                    },
                    unit: "minute",
                }
            }
        }
      }
    });

    const ctx2 = document.getElementById('ubl-chart');
    const ublLineChart = new Chart(ctx2, {
      type: 'line',
      data: {
          labels: [],
          datasets: [
            {
                fill: '1',
                label: 'entitled',
                data: [],
                borderWidth: 1,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 159, 64, 1)',
                pointStyle: false,
            },
            {
                fill: 'origin',
                label: 'used',
                data: [],
                borderWidth: 1,
                backgroundColor: 'rgba(20, 20, 132, 0.5)',
                borderColor: 'rgba(40, 40, 170, 1)',
            },
        ]
      },
      options: {
        scales: {
            x: {
                type: 'time',
                time: {
                    displayFormats: {
                        "hour": "d MMM HH:mm"
                    },
                    unit: "hour",
                }
            }
        },
        plugins: {
            decimation: {
                enabled: true,
                algorithm: 'lttb',
                samples: 50,
            }
          },
      }
    });

    // intialise
    document.getElementById("timestamp").innerHTML = timeStamp()
    get_temps()
    get_ubl()
    update_chart()
    update_ubl_chart()
    
    // refresh
    setInterval(function() {
		document.getElementById("timestamp").innerHTML = timeStamp()
        get_temps()
        get_ubl()
        update_chart()
        update_ubl_chart()
	}, 30000);

    function get_temps() {
        const api_temp_url = "{{ url_for("api_temp") | safe }}"
        const front_div = document.getElementById("front")
        const rear_div = document.getElementById("rear")
        
        fetch(api_temp_url)
            .then(response => response.json())
                .then(data => {

                    let front_text = "front: " + data.front + "c"
                    if (data.front < 30) {
                        front_text += "🥶"
                    }
                    if (data.front > 32) {
                        front_text += "🥵"
                    }
                    front_div.innerHTML = front_text

                    let rear_text = "rear: " + data.rear + "c"
                    if (data.rear > 35) {
                        rear_text += "🥵"
                    }
                    rear_div.innerHTML = rear_text
                })
            }

    function get_ubl() {
        const api_ubl_url = "{{ url_for("api_ubl") | safe }}"
        const ubl_div = document.getElementById("ubl")
        
        fetch(api_ubl_url)
            .then(response => response.json())
            .then(data => {

                let text = "redshift available: " + data.redshift_mins + "mins </br>" + data.redshift_hours_mins
                ubl_div.innerHTML = text
            })
        }

    function timeStamp() {
        // As this is javascript this is the clients current time, not the farm
        // Create a date object with the current time
        var now = new Date();

        // Create an array with the current month, day and time
        var date = [ now.getDate(), now.getMonth() + 1, now.getFullYear() ];

        // Create an array with the current hour, minute and second
        var time = [ now.getHours(), now.getMinutes(), now.getSeconds() ];

        // If seconds and minutes are less than 10, add a zero
        for ( var i = 1; i < 3; i++ ) {
            if ( time[i] < 10 ) {
                time[i] = "0" + time[i];
            }
        }
        // Return the formatted string
        return date.join("/") + " " + time.join(":");
    }

    function update_chart() {
        let api_url = "{{ url_for("read_envmonitors") | safe }}"

        fetch(api_url)
            .then(response => response.json())
            .then(data => {
                
                // data is latest first, needed for api, but reverse for chart
                data = data.reverse()
                myLineChart.data.datasets[0].data = data.map(row => row.temperature01)
                myLineChart.data.datasets[1].data = data.map(row => row.temperature02)
                myLineChart.data.labels = data.map(row => row.timestamp)           

                myLineChart.update('active')
            })
    }

    function update_ubl_chart() {
        let api_url = "{{ url_for("read_ubl") | safe }}"

        fetch(api_url)
            .then(response => response.json())
            .then(data => {
                
                // data is latest first, needed for api, but reverse for chart
                data = data.reverse()

                ublLineChart.data.datasets[0].data = data.map(row => row.redshift_entitled)
                ublLineChart.data.datasets[1].data = data.map(row => row.redshift_used)
                ublLineChart.data.labels = data.map(row => row.timestamp)

                ublLineChart.update('active')
            })
    }

</script>