body {
  background-color: #2c3232;
}
h1, h2 {
  font-family: monospace;
  color: #acb7a2;
  margin: 2vw;
}
h1 {
  font-size: 4vw;
  line-height: 3vw;
}
h2 {
  font-size: 2vw;
}
#timestamp {
  position: absolute;
  top: 0;
  right: 0;
}